[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = trcarneiro
	email = thiago@altostratus.com.br
[credential]
	helper = "!f() { /root/.vscode-server/bin/f1e16e1e6214d7c44d078b1f0607b2388f29d729/node /tmp/vscode-remote-containers-9c871932-0e5b-49b9-a0f6-b889abf75a3b.js git-credential-helper $*; }; f"
