[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Thiago Carneiro
	email = trcampos@gmail.com
[credential]
	helper = "!f() { /root/.vscode-server/bin/f1e16e1e6214d7c44d078b1f0607b2388f29d729/node /tmp/vscode-remote-containers-65cf5653-b58d-4680-ae6f-25c368082968.js git-credential-helper $*; }; f"
